[mariadb]
plugin_load_add = file_key_management
file_key_management = FORCE_PLUS_PERMANENT
file_key_management_filename = /run/intelvia-mariadb-secrets/encryption-keys.enc
file_key_management_filekey = FILE:/run/intelvia-mariadb-secrets/encryption-key-password
file_key_management_encryption_algorithm = AES_CTR

innodb_encrypt_tables = FORCE
innodb_encrypt_log = ON
innodb_encrypt_temporary_tables = ON
innodb_encryption_threads = 4
innodb_encryption_rotate_key_age = 1

aria_encrypt_tables = ON
encrypt_tmp_disk_tables = ON
encrypt_tmp_files = ON
encrypt_binlog = ON
