[mariadb]
ssl_ca = /run/intelvia-mariadb-secrets/ca.pem
ssl_cert = /run/intelvia-mariadb-secrets/server-cert.pem
ssl_key = /run/intelvia-mariadb-secrets/server-key.pem
require_secure_transport = ON
tls_version = TLSv1.2,TLSv1.3
